// Color

$primary-color-1: hsl(179, 62%, 43%);
$primary-color-2: hsl(179, 47%, 51%);
$primary-color-3: hsl(71, 73%, 54%);

$secondary-color-1: hsl(204, 43%, 93%);
$secondary-color-2: hsl(218, 22%, 67%);
